**/venv/
schedule-creator-fe/node_modules
.idea/
__pycache__/
.DS_Store
schedule_creator_common.egg-info/
**/build/
*/*/venv
*/.idea
*/.env
scheduler_service/.env
*/*/.env
schedule-creator-ms-structure
*/secret.yaml
*/*/secret.yaml
*/.vscode
*/*/node_modules
.DS_Store