aio-pika==9.0.5
aiormq==6.7.4
async-timeout==4.0.2
beanie==1.17.0
click==8.1.3
dnspython==2.3.0
idna==3.4
lazy-model==0.0.5
motor==3.1.1
multidict==6.0.4
pamqp==3.2.1
pika==1.3.1
pydantic==1.10.5
pymongo==4.3.3
python-dotenv==1.0.0
redis==4.5.5
#-e git+https://github.com/ercecan/schedule-creator-common.git@a83c6bbe47044c2e3bfc7b775d8f859c27f3806f#egg=schedule_creator_common
toml==0.10.2
typing==3.7.4.3
typing_extensions==4.5.0
yarl==1.9.2